

body {
  background-color: black;
}
/*HEADER */
.header_container {
  display: flex;
  width: 100%;
  height: 20%;
  padding-bottom: 3%;
  justify-content: center;
}
.logo {
  float: right;
}
.header_container .new h1 {
  font-size: 6rem;
}
h1  {
  color: silver;
  font-family: 'Francois One', sans-serif;
}
header .catch_phrase {
  display: flex;
  justify-content: center;
}
header .nav_tags a {
  padding-left: 5%;
}
/*MAIN*/
.middle_container {
  display: flex;
  width: 100%;
  height: 40vw;

  background-color: silver;
  justify-content: center;
  flex-wrap: wrap;
}
.inner_middle_container {
  display: flex;
  width: 90%;
  justify-content: space-between;

}
.intro {
  width: 48%;
  height: 30vw;
  padding-left: 2%;
  padding-right: 2%;
}
.input_team_role {
  width: 45%;
  height: 30vw;
  padding-left: 2%;
  padding-right: 2%;
}


/*INFORMATION BLOCKS*/

.info_blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;


}
.info {
  width: 25em;
  height: 25em;
  background-color: darkgray;
  padding: 2%;
  border: 2% solid black;
  margin: 2%;



}
.separator {
  width: 100%;

}
/*BLACKBOARD ON THE MAIN PAGE*/
.outer_blackboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.blackboard {
  display: flex;
  height: 90em;
  width: 90%;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.blackboard_label {
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 12em;
  width: 100%;
}
.bl_label {
  color: white;
  font-size: 2vw;
}
.blackboard_image {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
}

/*FOOTER*/
.footer_container {
  height: 5%;
  background-color: gray;
}
.cc_words {
  text-align: center;
}

/*NEW TEAM PAGE    NEW TEAM PAGE     NEW TEAM PAGE     NEW TEAM PAGE*/
  /*NEW TEAM PAGE    NEW TEAM PAGE     NEW TEAM PAGE     NEW TEAM PAGE*/

.display_container_label {
  padding-top: 1%;
  display: flex;
  background-color: black;
  justify-content: center;

}
h2 {
  color: silver;
  font-family: 'Francois One', sans-serif;
}
.new {
  display: flex;

  justify-content: flex-end;
}
.display_container_images {
  display: flex;
  background-color: silver;
  justify-content: space-around;
  padding-top: 10%

}
.team img {
  height: 25em;
  width: 13em;
}
.team p {
  font-size: 1.5vw;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}

h5 {
  font-size: 3em;
  text-decoration: underline;
}
